In [ ]:
# open awanui as df
import pandas as pd

# DRN variance (Awanui)

In [ ]:

AWANUI = r"C:\Users\tfo46\OneDrive - University of Canterbury\Tara_PhD\c_PhD\c_Data\a_source\sw_surface_water\HBRC_sw\river-flow-for-awanui-st.csv"
df = pd.read_csv(AWANUI)

In [12]:
# calulate the mean and variance of the flow for each month
df['date'] = pd.to_datetime(df['Awanui Stream at Flume (x)'])
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
monthly_stats = df.groupby(['month','year'])['Awanui Stream at Flume (y)'].agg(['mean', 'var']).reset_index()

In [13]:
monthly_stats

     month  year         mean           var
0        1  2009    46.066825  3.622310e+02
1        1  2010   205.603306  9.962500e+03
2        1  2011   336.881165  2.297797e+05
3        1  2012   966.641357  1.660695e+06
4        1  2013    43.112739  4.391601e+01
..     ...   ...          ...           ...
184     12  2020   492.712385  3.679462e+04
185     12  2021   406.136488  5.946786e+04
186     12  2022  2241.258343  4.344943e+06
187     12  2023   693.592001  6.156086e+04
188     12  2024    75.654441  9.765727e+02

[189 rows x 4 columns]

In [26]:
# variance of mean flow for Oct and Nov
monthly_stats[monthly_stats['month'].isin([10, 11])].agg(['var']).reset_index()['mean']

0    628898.583579
Name: mean, dtype: float64

In [11]:
# if month is 10 or 11 then calculate mean and variance frm grouped data
df[df['month'].isin([10, 11])]['Awanui Stream at Flume (y)'].agg(['mean', 'var']).reset_index()

  index  Awanui Stream at Flume (y)
0  mean                1.162080e+03
1   var                1.786373e+06

# Recharge variance

In [27]:
RF = r"C:\Users\tfo46\OneDrive - University of Canterbury\Tara_PhD\c_PhD\c_Data\a_source\clm_climate_data\datahub\3028__Rain__D.csv"
df = pd.read_csv(RF)

In [28]:
df.head()

,Frequency [D/H/S],Observation time UTC,Data Source,Rainfall [mm],PERIOD [hrs]
0,Daily,1917-03-01T21:00:00Z,D,0.0,24
1,Daily,1917-03-02T21:00:00Z,D,1.8,24
2,Daily,1917-03-03T21:00:00Z,D,1.0,24
3,Daily,1917-03-04T21:00:00Z,D,0.0,24
4,Daily,1917-03-05T21:00:00Z,D,1.0,24

In [31]:
# get daily average rainfall and variance for Oct and Nov
df['date'] = pd.to_datetime(df['Observation time UTC'])
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
monthly_stats = df.groupby(['month','year'])['Rainfall [mm]'].agg(['mean', 'var']).reset_index()
monthly_stats

     month  year      mean         var
0        1  1918  4.232258   78.093591
1        1  1919  0.767742   10.995591
2        1  1920  1.345161    8.365892
3        1  1921  0.187097    0.435161
4        1  1922  4.219355   49.952946
..     ...   ...       ...         ...
743     12  1980  7.319355  237.284946
744     12  1981  1.335484   27.492366
745     12  1982  0.180645    0.589613
746     12  1983  2.160870   21.989763
747     12  1984  1.877419   17.169140

[748 rows x 4 columns]

In [34]:
monthly_stats[monthly_stats['month'].isin([10, 11])].agg(['mean']).reset_index()['mean']

0    1.675488
Name: mean, dtype: float64

In [33]:
monthly_stats[monthly_stats['month'].isin([10, 11])].agg(['var']).reset_index()['mean']

0    1.348465
Name: mean, dtype: float64

In [36]:
(0.25/1.675488) * 1.348465

0.20120481316488092